.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 160px;
}
.presentation__logo {
    margin-bottom: 72px;
}
.presentation__title {
    color:#515151;
    font-size: 31px;
    text-transform: uppercase;
    width: 45% ;
    text-align: center;
    margin-bottom: 70px;
}
.presentation__text-top, .presentation__text-bottom {
    width: 80%;
    text-align: center;
    color:#515151;
    font-size: 19px;
}
.presentation__text-bottom{
    margin-bottom: 150px;
}
.presentation__tab{
    display: flex;
    list-style: none;
    justify-content: space-around;
    border-bottom: 1px solid #515151; 
    width: 80%;
    margin-bottom: 70px;
}
.presentation__tab__item__wrapper{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #5f5f5f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
}
.presentation__tab__item{
    display: flex;
}
.presentation__tab__item-active {
  border-bottom: 4px solid #add136;
}
.presentation__tab__number{
    color: white;
}
.presentation__tab__text{
    color: #656565;
}
.presentation__tab__item__wrapper-active{
    background-color:#add136;
}
.presentation__logo {
    margin-right: 105px;
}
.persentation__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.persentation__text-wrapper {
    flex-basis: 50%;
}
.persentation__glass-title {
    font-size: 25px ;
    color:#ADD136;
}
.persentation__glass-text{
    font-size: 17px ;
    color:#606060;
   
}